<uib-accordion-heading>   
   <i class="glyphicon glyphicon-check icon text-info-lter"></i> <span class="font-bold">ReefCheck</span> <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': reefcheck.open, 'fa-angle-right': !reefcheck.open}"></i>
</uib-accordion-heading>
<div class="form-horizontal" ng-controller="ReefCheckSettingsCtrl">
  Reef Check module settings

  <uib-accordion close-others="oneAtATime">
    <uib-accordion-group is-open="block.open" ng-repeat="block in blocks">
      <div ng-include="block.template"></div>
    </uib-accordion-group>
  </uib-accordion>
</div>
<!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Settings</h1>
</div>
<div class="wrapper-md" ui-view>
  <div class="row">
    <div class="col-sm-12 connected">
      <div  ng-controller="SettingsCtrl">
        <uib-accordion close-others="oneAtATime">
          <uib-accordion-group is-open="status.transects.open" class="b-primary">
              <uib-accordion-heading>
                 <i class="glyphicon glyphicon-align-justify icon text-primary"></i> <span class="font-bold">Transects</span> <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.transects.open, 'fa-angle-right': !status.transects.open}"></i>
              </uib-accordion-heading>
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-lg-2 control-label">Length (m)</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Length">
                    <span class="help-block m-b-none">Length of each transect.</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Distance (m)</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Distane">
                    <span class="help-block m-b-none">Distance between transects.</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Number of points inside a transect</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Total Points">
                    <span class="help-block m-b-none">Length of each point inside a transect: </span> 0.5m
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                  </div>
                </div>
              </form>
          </uib-accordion-group>
          <uib-accordion-group is-open="status.researchers.open" class="b-success">
              <uib-accordion-heading>
                 <i class="glyphicon glyphicon-user icon text-success"></i> <span class="font-bold">Researchers</span> <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.researchers.open, 'fa-angle-right': !status.researchers.open}"></i>
              </uib-accordion-heading>
              <form class="form-horizontal">
                
              </form>
          </uib-accordion-group>
          <uib-accordion-group is-open="status.entries.open" class="b-black">
              <uib-accordion-heading>
                 <i class="glyphicon glyphicon-list-alt icon text-black"></i> <span class="font-bold">Places list</span> <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.entries.open, 'fa-angle-right': !status.entries.open}"></i>
              </uib-accordion-heading>
              <form class="form-horizontal">
                <div class="list-group bg-white"> 
                  Click on the desired item to manage its entries and properties.
                </div>
                <div class="list-group bg-white">
                  <uib-accordion>
                    <uib-accordion-group ng-repeat="acc in accordions">
                      <div ng-include="acc.template"></div>
                    </uib-accordion-group>         
                  </uib-accordion>
                  <!-- <uib-accordion-group is-open="status.entries.countries.open" class="b-black">
                    <uib-accordion-heading>
                      Countries
                      <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.entries.countries.open, 'fa-angle-right': !status.entries.countries.open}"></i>
                    </uib-accordion-heading>
                    <ng-include src="tpl/blocks/transect_site_info.html"></ng-include>
                  </uib-accordion-group>
                  <uib-accordion-group is-open="status.entries.provinces.open" class="b-black">
                    <uib-accordion-heading>Provinces</uib-accordion-heading>
                  </uib-accordion-group>
                  <uib-accordion-group is-open="status.entries.towns.open" class="b-black">
                    <uib-accordion-heading>Towns</uib-accordion-heading>
                  </uib-accordion-group>
                  <uib-accordion-group is-open="status.entries.sites.open" class="b-black">
                    <uib-accordion-heading>Sites</uib-accordion-heading>
                  </uib-accordion-group> -->
            <!--     </div>
              </form>
          </uib-accordion-group>
          <uib-accordion-group is-open="status.groups.open" class="b-black">
              <uib-accordion-heading>
                 <i class="glyphicon glyphicon-list-alt icon text-black"></i> <span class="font-bold">Entries list</span> <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.entries.open, 'fa-angle-right': !status.entries.open}"></i>
              </uib-accordion-heading>
              <form class="form-horizontal">
                <div class="list-group bg-white"> 
                  Click on the desired item to manage its entries and properties.
                </div>
                <div class="list-group bg-white">                  
                  <a ui-sref="app.settings.countries" class="list-group-item">
                    Countries
                  </a>
                  <a ui-sref="app.settings.provinces" class="list-group-item">
                    Provinces
                  </a>
                  <a ui-sref="app.settings.towns" class="list-group-item">
                    Towns
                  </a>
                  <a ui-sref="app.settings.sites" class="list-group-item">
                    Sites
                  </a>
                  <a ui-sref="app.settings.categories.count" class="list-group-item">
                    Categories for the count transect
                  </a>
                  <a ui-sref="app.settings.categories.cover" class="list-group-item">
                    Categories for the percentage cover transect
                  </a>
                </div>
              </form>
          </uib-accordion-group>
        </uib-accordion>
      </div>
    </div>
  </div>
</div> -->