      <!-- navbar header -->
      <div class="navbar-header {{app.settings.navbarHeaderColor}}">
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
          <span class="hidden-folded m-l-xs">{{app.name}}</span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
          <!-- langs -->
          <!--
          <li class="dropdown hidden-sm">
            <a href class="uib-dropdown-toggle" data-toggle="dropdown">
              {{selectLang}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu animated fadeInRight w">
              <li ng-repeat="(langKey, label) in langs">
                <a ng-click="setLang(langKey)">{{label}}</a>
              </li>
            </ul>
          </li>
          -->
          <li  uib-dropdown>
            <a href class="uib-dropdown-toggle clear" uib-dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="img/a0.jpg" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
              <span class="hidden-sm hidden-md">{{first_name}} {{last_name}}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="uib-dropdown-menu animated fadeInRight w">              
              <li>
                <a ui-sref="app.page.profile">Profile</a>
              </li>
              <li class="divider"></li>
              <li>
                <a ng-click="logout()">Logout</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->

      </div>
      <!-- / navbar collapse -->