<!-- settings -->
  <button class="btn btn-default no-shadow pos-abt" ui-toggle-class="active" target=".settings"><i class="fa fa-gear"></i></button>
  <div class="panel-heading">
    Settings
  </div>
  <div class="panel-body"> 
    <div class="m-b">
      <label class="i-switch bg-info pull-right">
        <input type="checkbox" ng-model="admin.settings.headerFixed">
        <i></i>
      </label>
      Fixed header 
    </div>
    <div>
      <label class="i-switch bg-info pull-right">
        <input type="checkbox" ng-model="admin.settings.asideFixed">
        <i></i>
      </label>
      Fixed aside 
    </div>
  </div>
  <div class="wrapper b-t b-light bg-light lter r-b">
    <div class="row row-sm">
      <div class="col-xs-6">
        <label class="i-checks block m-b" ng-click="
          admin.settings.navbarHeaderColor='bg-black'; 
          admin.settings.navbarCollapseColor='bg-white-only'; 
          admin.settings.asideColor='bg-black';
         ">
          <input type="radio" name="a" checked>
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-black header"></b>
            <b class="bg-white header"></b>
            <b class="bg-black"></b>
          </span>
        </label>

        <label class="i-checks block m-b" ng-click="
          admin.settings.navbarHeaderColor='bg-white-only'; 
          admin.settings.navbarCollapseColor='bg-white-only'; 
          admin.settings.asideColor='bg-black';
         ">
          <input type="radio" name="a">
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-white header"></b>
            <b class="bg-white header"></b>
            <b class="bg-black"></b>
          </span>
        </label>

        <label class="i-checks block m-b" ng-click="
          admin.settings.navbarHeaderColor='bg-primary'; 
          admin.settings.navbarCollapseColor='bg-white-only'; 
          admin.settings.asideColor='bg-dark';
         ">
          <input type="radio" name="a">
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-primary header"></b>
            <b class="bg-white header"></b>
            <b class="bg-dark"></b>
          </span>
        </label>

        <label class="i-checks block m-b" ng-click="
          admin.settings.navbarHeaderColor='bg-info'; 
          admin.settings.navbarCollapseColor='bg-white-only'; 
          admin.settings.asideColor='bg-black';
         ">
          <input type="radio" name="a">
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-info header"></b>
            <b class="bg-white header"></b>
            <b class="bg-black"></b>
          </span>
        </label>

        <label class="i-checks block m-b" ng-click="
          admin.settings.navbarHeaderColor='bg-success'; 
          admin.settings.navbarCollapseColor='bg-white-only'; 
          admin.settings.asideColor='bg-dark';
         ">
          <input type="radio" name="a">
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-success header"></b>
            <b class="bg-white header"></b>
            <b class="bg-dark"></b>
          </span>
        </label>

        <label class="i-checks block" ng-click="
          admin.settings.navbarHeaderColor='bg-danger'; 
          admin.settings.navbarCollapseColor='bg-white-only'; 
          admin.settings.asideColor='bg-dark';
         ">
          <input type="radio" name="a">
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-danger header"></b>
            <b class="bg-white header"></b>
            <b class="bg-dark"></b>
          </span>
        </label>
      </div>
      <div class="col-xs-6">
        <label class="i-checks block m-b" ng-click="
          admin.settings.navbarHeaderColor='bg-primary'; 
          admin.settings.navbarCollapseColor='bg-primary'; 
          admin.settings.asideColor='bg-white b-r';
         ">
          <input type="radio" name="a">
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-primary header"></b>
            <b class="bg-primary header"></b>
            <b class="bg-white"></b>
          </span>
        </label>

        <label class="i-checks block m-b" ng-click="
          admin.settings.navbarHeaderColor='bg-info dker'; 
          admin.settings.navbarCollapseColor='bg-info dker'; 
          admin.settings.asideColor='bg-light dker b-r';
         ">
          <input type="radio" name="a">
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-info dker header"></b>
            <b class="bg-info dker header"></b>
            <b class="bg-light dker"></b>
          </span>
        </label>

        <label class="i-checks block m-b" ng-click="
          admin.settings.navbarHeaderColor='bg-primary'; 
          admin.settings.navbarCollapseColor='bg-primary'; 
          admin.settings.asideColor='bg-dark';
         ">
          <input type="radio" name="a">
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-primary header"></b>
            <b class="bg-primary header"></b>
            <b class="bg-dark"></b>
          </span>
        </label>

        <label class="i-checks block m-b" ng-click="
          admin.settings.navbarHeaderColor='bg-info dker'; 
          admin.settings.navbarCollapseColor='bg-info dk'; 
          admin.settings.asideColor='bg-black';
         ">
          <input type="radio" name="a">
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-info dker header"></b>
            <b class="bg-info dk header"></b>
            <b class="bg-black"></b>
          </span>
        </label>

        <label class="i-checks block m-b" ng-click="
          admin.settings.navbarHeaderColor='bg-success'; 
          admin.settings.navbarCollapseColor='bg-success';
          admin.settings.asideColor='bg-dark';
          ">
          <input type="radio" name="a">
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-success header"></b>
            <b class="bg-success header"></b>
            <b class="bg-dark"></b>
          </span>
        </label>
        
        <label class="i-checks block" ng-click="
          admin.settings.navbarHeaderColor='bg-danger dker bg-gd'; 
          admin.settings.navbarCollapseColor='bg-danger dker bg-gd'; 
          admin.settings.asideColor='bg-dark';
         ">
          <input type="radio" name="a">
          <span class="block bg-light clearfix pos-rlt">
            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
            </span>
            <b class="bg-danger dker header"></b>
            <b class="bg-danger dker header"></b>
            <b class="bg-dark"></b>
          </span>
        </label>
      </div>
    </div>
  </div>
<!-- /settings -->