<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Basic Information</strong>
  </div>
  <div class="panel-body">         
    <!-- <div class="form-group">
      <label class="col-sm-3 control-label">Identifier</label>
      <label class="col-sm-9"></label>
    </div> -->
    <div class="line line-dashed b-b line-lg pull-in"></div>           
    <div class="form-group">
      <label class="col-sm-3 control-label">Orientation of transect</label>
      <div class="col-sm-9 form-inline">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="N-S" ng-model="transect.basic.orientation"><i></i> N-S
        </label>
        <label class="checkbox-inline i-checks">
          <input type="radio" value="E-W" ng-model="transect.basic.orientation"><i></i> E-W
        </label>
        <label class="checkbox-inline i-checks">
          <input type="radio" value="NE-SW" ng-model="transect.basic.orientation"><i></i> NE-SW
        </label>
        <label class="checkbox-inline i-checks">
          <input type="radio" value="SE-NW" ng-model="transect.basic.orientation"><i></i> SE-NW
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Temperature</label>
      <div class="">
        <div class="col-sm-2">
          <label class="control-label">Air </label>
          <div class="input-group m-b">                              
            <input type="text" class="form-control input-sm w-xxs" ng-model="transect.basic.temperature_air">
            <span class="input-group-addon">&deg;C</span>
          </div>  
        </div>
        <div class="col-sm-2">
          <label class="control-label">Surface </label>
          <div class="input-group m-b">                              
            <input type="text" class="form-control input-sm w-xxs" ng-model="transect.basic.temperature_surface">
            <span class="input-group-addon">&deg;C</span>
          </div>  
        </div>
        <div class="col-sm-2">
          <label class="control-label">at 3m </label>
          <div class="input-group m-b">                              
            <input type="text" class="form-control input-sm w-xxs" ng-model="transect.basic.temperature_3m">
            <span class="input-group-addon">&deg;C</span>
          </div>                            
        </div>
        <div class="col-sm-2">
          <label class="control-label">at 10m </label>
          <div class="input-group m-b">                              
            <input type="text" class="form-control input-sm w-xxs" ng-model="transect.basic.temperature_10m">
            <span class="input-group-addon">&deg;C</span>
          </div>  
        </div>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Distance of start point from shore</label>
      <div class="col-sm-2">
        <div class="input-group m-b">  
          <input type="text" class="form-control input-sm w-xxs" ng-model="transect.basic.distance_shore">
          <span class="input-group-addon">m</span>
        </div>
      </div>
      <label class="col-sm-3 control-label">Distance from the nearest river</label>
      <div class="col-sm-2">
        <div class="input-group m-b">  
          <input type="text" class="form-control input-sm w-xxs" ng-model="transect.basic.distance_river">
          <span class="input-group-addon">km</span>
        </div>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">River mouth width</label>
      <div class="col-sm-9 form-inline">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="10m" ng-model="transect.basic.river_mouth"><i></i> &lt; 10m
        </label>
        <label class="checkbox-inline i-checks">
          <input type="radio" value="11-50m" ng-model="transect.basic.river_mouth"><i></i> 11-50m
        </label>
        <label class="checkbox-inline i-checks">
          <input type="radio" value="51-100m" ng-model="transect.basic.river_mouth"><i></i> 51-100m
        </label>
        <label class="checkbox-inline i-checks">
          <input type="radio" value="101-500m" ng-model="transect.basic.river_mouth"><i></i> 101-500m
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Distance to nearest population center</label>
      <div class="col-sm-2">
        <div class="input-group m-b">  
          <input type="text" class="form-control input-sm w-xxs" ng-model="transect.basic.distance_center">
          <span class="input-group-addon">km</span>
        </div>
      </div>
      <label class="col-sm-3 control-label">Population size</label>
      <div class="col-sm-2">
        <div class="input-group m-b">  
          <input type="text" class="form-control input-sm w-xxs" ng-model="transect.basic.population_size">
          <span class="input-group-addon">x1000</span>
        </div>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Weather</label>
      <div class="col-sm-9 form-inline">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Sunny" ng-model="transect.basic.weather"><i></i> Sunny
        </label>
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Cloudy" ng-model="transect.basic.weather"><i></i> Cloudy
        </label>
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Raining" ng-model="transect.basic.weather"><i></i> Raining
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Horizontal underwater visibility</label>
      <div class="col-sm-2">
        <div class="input-group m-b">  
          <input type="text" class="form-control input-sm w-xxs" ng-model="transect.basic.visibility">
          <span class="input-group-addon">m</span>
        </div>
      </div>
      <label class="col-sm-3 control-label">Is this the best reef area?</label>
      <div class="col-sm-4">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="yes" ng-model="transect.basic.best_reef"><i></i> yes
        </label>
        <label class="checkbox-inline i-checks">
          <input type="radio" value="no" ng-model="transect.basic.best_reef"><i></i> no
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Why was this site selected</label>
      <div class="col-sm-9 form-inline">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="MPA" ng-model="transect.basic.why_selected"><i></i> MPA
        </label>
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Impacted" ng-model="transect.basic.why_selected"><i></i> Impacted
        </label>
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Dive Site" ng-model="transect.basic.why_selected"><i></i> Dive Site
        </label>
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Research" ng-model="transect.basic.why_selected"><i></i> Research
        </label>
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Other" ng-model="transect.basic.why_selected"><i></i> Other                            
        </label>
        <input type="text" class="form-control input-sm w-m" ng-model="transect.basic.why_selected_other">
      </div>
    </div>                      
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Impacts</strong>
  </div>
  <div class="panel-body">                    
    <div class="form-group">
      <label class="col-sm-3 control-label">Is this site sheltered?</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Always" ng-model="transect.basic.sheltered"><i></i> Always
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Sometimes" ng-model="transect.basic.sheltered"><i></i> Sometimes
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Exposed" ng-model="transect.basic.sheltered"><i></i> Exposed
        </label>
      </div>
      <div class="col-sm-2">
 
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Major coral damaging storms</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="yes" ng-model="transect.basic.storms"><i></i> Yes
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="no" ng-model="transect.basic.storms"><i></i> No
        </label>
      </div>
      <div class="col-sm-2">
        If yes, when was last storm?
      </div>
      <div class="col-sm-2">
                          
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Overall anthropogenic impact (estimate)</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="None" ng-model="transect.basic.impacts"><i></i> None
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Low" ng-model="transect.basic.impacts"><i></i> Low
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Med" ng-model="transect.basic.impacts"><i></i> Med
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="High" ng-model="transect.basic.impacts"><i></i> High
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Is siltation a problem?</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Never" ng-model="transect.basic.siltation"><i></i> Never
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Occasionally" ng-model="transect.basic.siltation"><i></i> Occasionally
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Often" ng-model="transect.basic.siltation"><i></i> Often
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Always" ng-model="transect.basic.siltation"><i></i> Always
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Blast fishing</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="None" ng-model="transect.basic.fishing_blast"><i></i> None
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Low" ng-model="transect.basic.fishing_blast"><i></i> Low
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Med" ng-model="transect.basic.fishing_blast"><i></i> Med
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="High" ng-model="transect.basic.fishing_blast"><i></i> High
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Poison fishing</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="None" ng-model="transect.basic.fishing_poison"><i></i> None
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Low" ng-model="transect.basic.fishing_poison"><i></i> Low
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Med" ng-model="transect.basic.fishing_poison"><i></i> Med
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="High" ng-model="transect.basic.fishing_poison"><i></i> High
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Aquarium fishing</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="None" ng-model="transect.basic.fishing_aquarium"><i></i> None
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Low" ng-model="transect.basic.fishing_aquarium"><i></i> Low
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Med" ng-model="transect.basic.fishing_aquarium"><i></i> Med
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="High" ng-model="transect.basic.fishing_aquarium"><i></i> High
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Harvest of inverts for food</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="None" ng-model="transect.basic.harvest_inverts_food"><i></i> None
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Low" ng-model="transect.basic.harvest_inverts_food"><i></i> Low
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Med" ng-model="transect.basic.harvest_inverts_food"><i></i> Med
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="High" ng-model="transect.basic.harvest_inverts_food"><i></i> High
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Harvest of inverts for curio sales</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="None" ng-model="transect.basic.harvest_inverts_sales"><i></i> None
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Low" ng-model="transect.basic.harvest_inverts_sales"><i></i> Low
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Med" ng-model="transect.basic.harvest_inverts_sales"><i></i> Med
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="High" ng-model="transect.basic.harvest_inverts_sales"><i></i> High
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Tourist diving/snorkeling</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="None" ng-model="transect.basic.tourist_diving"><i></i> None
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Low" ng-model="transect.basic.tourist_diving"><i></i> Low
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Med" ng-model="transect.basic.tourist_diving"><i></i> Med
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="High" ng-model="transect.basic.tourist_diving"><i></i> High
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Sewage pollution (outfall or boat)</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="None" ng-model="transect.basic.pollution_sewage"><i></i> None
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Low" ng-model="transect.basic.pollution_sewage"><i></i> Low
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Med" ng-model="transect.basic.pollution_sewage"><i></i> Med
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="High" ng-model="transect.basic.pollution_sewage"><i></i> High
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Industrial pollution</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="None" ng-model="transect.basic.pollution_industrial"><i></i> None
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Low" ng-model="transect.basic.pollution_industrial"><i></i> Low
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Med" ng-model="transect.basic.pollution_industrial"><i></i> Med
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="High" ng-model="transect.basic.pollution_industrial"><i></i> High
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Commercial fishing (fish caught to sell for food)</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="None" ng-model="transect.basic.fishing_commercial"><i></i> None
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Low" ng-model="transect.basic.fishing_commercial"><i></i> Low
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Med" ng-model="transect.basic.fishing_commercial"><i></i> Med
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="High" ng-model="transect.basic.fishing_commercial"><i></i> High
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Live food fish trade</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="None" ng-model="transect.basic.fish_trade"><i></i> None
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Low" ng-model="transect.basic.fish_trade"><i></i> Low
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Med" ng-model="transect.basic.fish_trade"><i></i> Med
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="High" ng-model="transect.basic.fish_trade"><i></i> High
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Artisanal/recreational (personal consumption)</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="None" ng-model="transect.basic.artisanal_recreational"><i></i> None
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Low" ng-model="transect.basic.artisanal_recreational"><i></i> Low
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Med" ng-model="transect.basic.artisanal_recreational"><i></i> Med
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="High" ng-model="transect.basic.artisanal_recreational"><i></i> High
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Yachts typically present within 1km of this site</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="None" ng-model="transect.basic.yachts"><i></i> None
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Few (1-2)" ng-model="transect.basic.yachts"><i></i> Few (1-2)
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Med (3-5)" ng-model="transect.basic.yachts"><i></i> Med (3-5)
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Many (>5)" ng-model="transect.basic.yachts"><i></i> Many (>5)
        </label>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Other impacts</label>
      <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="transect.basic.other_impacts">
      </div>                        
    </div>                      
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Protection</strong>
  </div>
  <div class="panel-body">                    
    <div class="form-group">
      <label class="col-sm-3 control-label">Any protection (legal or other) at this site?</label>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="Yes" ng-model="transect.basic.protection"><i></i> Yes
        </label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline i-checks">
          <input type="radio" value="No" ng-model="transect.basic.protection"><i></i> No
        </label>
      </div>
      <div class="col-sm-3 text-danger" ng-show="transect.basic.protection == 'Yes'">
        If yes, answer questions below
      </div>
    </div>
    <div ng-show="transect.basic.protection == 'Yes'">
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Is protection enforced?</label>
        <div class="col-sm-2">
          <label class="checkbox-inline i-checks">
            <input type="radio" value="Yes" ng-model="transect.basic.protection_enforced"><i></i> Yes
          </label>
        </div>
        <div class="col-sm-2">
          <label class="checkbox-inline i-checks">
            <input type="radio" value="No" ng-model="transect.basic.protection_enforced"><i></i> No
          </label>
        </div>
      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Level of poaching in protected area?</label>
        <div class="col-sm-2">
          <label class="checkbox-inline i-checks">
            <input type="radio" value="None" ng-model="transect.basic.protection_poaching"><i></i> None
          </label>
        </div>
        <div class="col-sm-2">
          <label class="checkbox-inline i-checks">
            <input type="radio" value="Low (&lt;1/month)" ng-model="transect.basic.protection_poaching"><i></i> Low (&lt;1/month)
          </label>
        </div>
        <div class="col-sm-3">
          <label class="checkbox-inline i-checks">
            <input type="radio" value="Med (&gt;1/month, &lt;1/wk)" ng-model="transect.basic.protection_poaching"><i></i> Med (&gt;1/month, &lt;1/wk)
          </label>
        </div>
        <div class="col-sm-2">
          <label class="checkbox-inline i-checks">
            <input type="radio" value="High (1+/wk)" ng-model="transect.basic.protection_poaching"><i></i> High (1+/wk)
          </label>
        </div>
      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Check which activities are banned?</label>
        <div class="col-sm-4">
          <div>
            <label class="checkbox-inline i-checks">
              <input type="checkbox" value="Spearfishing" ng-model="transect.basic.protection_banned.spearfishing"><i></i> Spearfishing
            </label>
          </div>
          <div>
            <label class="checkbox-inline i-checks">
              <input type="checkbox" value="Commercial fishing" ng-model="transect.basic.protection_banned.fishing_commercial"><i></i> Commercial fishing
            </label>
          </div>
          <div>
            <label class="checkbox-inline i-checks">
              <input type="checkbox" value="Recreational fishing" ng-model="transect.basic.protection_banned.fishing_recreational"><i></i> Recreational fishing
            </label>
          </div>
          <div>
            <label class="checkbox-inline i-checks">
              <input type="checkbox" value="Invertebrate/shell collecting" ng-model="transect.basic.protection_banned.invertebrate"><i></i> Invertebrate/shell collecting
            </label>
          </div>
        </div>
        <div class="col-sm-4">
          <div>
            <label class="checkbox-inline i-checks">
              <input type="checkbox" value="Anchoring" ng-model="transect.basic.protection_banned.anchoring"><i></i> Anchoring
            </label>
          </div>
          <div>
            <label class="checkbox-inline i-checks">
              <input type="checkbox" value="Diving" ng-model="transect.basic.protection_banned.diving"><i></i> Diving
            </label>
          </div>
          <div>
            <label class="checkbox-inline i-checks">
              <input type="checkbox" value="Other (please specify below)" ng-model="transect.basic.protection_banned.other"><i></i> Other (please specify below)
            </label>
          </div>
          <div>
            <input type="text" class="form-control" ng-model="transect.basic.protection_banned.other_description" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>