<div ng-controller="TransectBeltFormCtrl">
  <div class="form-group pull-in clearfix">
    <div class="col-sm-9 text-left">
      <uib-alert ng-if="alert.type" type="{{alert.type}}" close="closeAlert($index)"><i ng-if="alert.type == 'info'" class="fa fa-spinner fa-spin"></i> {{alert.msg}}</uib-alert>
    </div>
    <div class="col-sm-3 text-right">
      <button type="submit" class="btn btn-m btn-success" ng-click="saveBelt()">Save Belt Transect</button>
    </div>
  </div>
  <!-- <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2">Data recorded by</label>
        <div class="col-sm-4">
          <i ng-show="loadingResearchers" class="fa fa-spinner fa-spin form-control-spin"></i>
          <input type="text" class="form-control w-xxl" ng-model="transect.belt.recorded_by" placeholder="Search researchers in the system" uib-typeahead="researcher as researcher.name for researcher in getResearchers($viewValue)" uib-typeahead-loading="loadingResearchers">
        </div>
      </div>
    </div>
  </div> -->
  <div class="panel panel-default" ng-repeat="category in belt_categories">
    <div class="panel-heading">
      <strong>{{category.name}}</strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-sm-12">
          {{category.description}}
        </div>
      </div>
      <div class="row table-responsive">
        <table class="table table-striped b-t b-light text-sm">
          <thead>
            <tr>
              <th class="col-sm-3">Group</th>
              <th class="text-center" ng-repeat="seg in segments_total | range" ng-init="segStart = (segments_length+segments_space)*seg">{{segStart}} - {{segStart + segments_length}} m</th>
              <th class="text-center" style="width:75px;">Total</th>
              <th class="text-center" style="width:75px;">Mean</th>                           
              <th class="text-center" style="width:75px;">SD</th>          
            </tr>
          </thead>
          <tbody ng-if="belt_groups[category.id].length == 0">
            <tr><td colspan="8">No groups found on this category</td></tr>
          </tbody>
          <tbody ng-repeat="group in belt_groups[category.id]">
            <tr>
              <td>{{group.name}}</td>
              <td class="text-center" ng-repeat="seg in segments_total | range">
                <div class="text-center" ng-if="group.sub_groups.length != 0">{{ transect.belt.data[group.id]['sub_groups'] | sum:seg }}</div>
                <div class="text-center input-group" ng-if="group.sub_groups.length == 0">
                  <input ng-model="transect.belt.data[group.id][seg].value" type="text" class="form-control input-sm text-center" value="0" placeholder="0" />
                  <span class="input-group-addon">
                    <span ng-style="group.format != 2 ? {color:'#eee'} : {}">%</span>
                  </span>
                </div>
              </td>
              <td class="text-center"><span ng-show="group.format != 2">{{ belt_graphs[category.id][group.id].sum }}</span></td>
              <td class="text-center">{{ belt_graphs[category.id][group.id].mean | number : MASCREF_CONF.SIGNIFICANT_DIGITS }}</td>
              <td class="text-center">{{ belt_graphs[category.id][group.id].sd | number : MASCREF_CONF.SIGNIFICANT_DIGITS+1 }}</td>
            </tr>
            <tr ng-if="group.sub_groups.length != 0" ng-repeat="sub in group.sub_groups">
              <td>{{sub.name}}</td>
              <td class="text-center" ng-repeat="seg in segments_total | range">
                <div class="input-group text-center">
                  <input ng-model="transect.belt.data[group.id]['sub_groups'][sub.id][seg].value" type="text" class="form-control input-sm text-center"  placeholder="0" value="0" ng-keyup="transect.belt.data[group.id][seg] = sum(transect.belt.data[group.id]['sub_groups'],seg)"/>
                  <span ng-if="group.format == 2" class="input-group-addon">%</span>
                </div>
              </td>
              <td class="text-center"><span ng-show="group.format != 2">{{ (transect.belt.data[group.id]['sub_groups'][sub.id] | sum)/(group.format == 2 ? 100 : 1) }}</span></td>
              <td class="text-center">{{ (transect.belt.data[group.id]['sub_groups'][sub.id] | mean)/(group.format == 2 ? 100 : 1) | number : MASCREF_CONF.SIGNIFICANT_DIGITS }}</td>
              <td class="text-center">{{ (transect.belt.data[group.id]['sub_groups'][sub.id] | sd)/(group.format == 2 ? 100 : 1) | number : MASCREF_CONF.SIGNIFICANT_DIGITS }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <!-- <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2 control-label">Comments</label>
        <div class="col-sm-8">
          <textarea class="form-control" rows="6" ng-model="transect.belt.comments" placeholder="Type your commenys"></textarea>
        </div>
      </div>
    </div>
  </div> -->

  <div class="form-group pull-in clearfix">
    <div class="col-sm-9 text-left">
      <uib-alert ng-if="alert.type" type="{{alert.type}}" close="closeAlert($index)"><i ng-if="alert.type == 'danger'" class="fa fa-spinner fa-spin"></i> {{alert.msg}}</uib-alert>
    </div>
    <div class="col-sm-3 text-right">
      <button type="submit" class="btn btn-m btn-success" ng-click="saveBelt()">Save Belt Transect</button>
    </div>
  </div>
</div>