<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    <ul class="breadcrumb">
      <li ng-repeat="(key, bread) in breadcrumbs">
        <span ng-if="key == 0"><a href><i class="glyphicon glyphicon-folder-open icon text-info-dker"></i> {{bread}}</a> </span>
        <span ng-if="key != 0 && key != breadcrumbs.length-1"><a href>{{bread}}</a></span>
        <span ng-if="key != 0 && key == breadcrumbs.length-1" class="active">{{bread}}</span>
      </li>
    </ul>
  </h1>
</div>
<div class="wrapper-md" ui-view>
  <div class="panel panel-default">
    <div class="panel-heading">
      List of projects
    </div>
    <div class="panel-body b-b b-light ">
      <div class="text-muted text-left">
        Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
      </div>
      <div class="text-muted text-right">
        <button type="submit" class="btn btn-sm btn-success" ng-click="showNewProject = true" ng-show="can('add_project')">+ New Project</button>
      </div>
      <div ng-if="alerts.length > 0" class="m-b-md">
        <br />
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><i ng-if="alert.type == 'danger'" class="fa fa-spinner fa-spin"></i> {{alert.msg}}</uib-alert>
      </div>
    </div>    
    <div>
      <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr>
              <th>Name</th>
              <!-- <th class="text-center">Date Start</th> -->
              <!-- <th class="text-center">Date End</th> -->
              <th class="text-center">Project Leader</th>
              <th class="text-center">Surveys</th>
              <th class="text-center">Transects</th>
              <th class="text-center">Date Created</th>
              <th class="text-center">Public</th>
              <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="loadingProjects">
            <td colspan="6" class="text-center">
              <div>
                <i class="fa fa-spinner fa-spin"></i> Loading projects list
              </div>
            </td>
          </tr>
          <tr ng-if="projects.length == 0" ng-hide="loadingProjects">
              <td colspan="6" class="text-center">No projects found in the system</td>
          </tr>        
          <tr ng-repeat="project in projects">
              <td><a ng-show="can('view_project')" ui-sref="admin.projects.view({projectId:project.id})">{{project.name}}</a><span ng-show="!can('view_project')">{{project.name}}</span></td>
              <!-- <td class="text-center">{{project.date_start | date:'shortDate'}}</td> -->
              <!-- <td class="text-center">{{project.date_end | date:'shortDate'}}</td> -->
              <td class="text-center">{{ project.owner_name ? project.owner_name : '-' }}</td>
              <td class="text-center">{{project.surveys.length}}</td>
              <td class="text-center">{{project.transects.length ? project.transects.length : 0}}</td>
              <td class="text-center">{{project.created_at | date:'short'}}</td>
              <td class="text-center"><i ng-if="project.public" class="glyphicon glyphicon-ok-circle text-success"></i><i ng-if="!project.public" class="glyphicon glyphicon-ban-circle text-danger"></i></td>
              <td class="text-center">
                <a ng-show="can('view_project')" ui-sref="admin.projects.view({projectId:project.id})"><button class="btn btn-info btn-xs text-info">View</button></a>
                <a ng-show="can('change_project')" ui-sref="admin.projects.edit({projectId:project.id})"> <button class="btn btn-primary btn-xs">Settings</button></a>
                <a ng-show="can('delete_project')"> <button class="btn btn-danger btn-xs" ng-click="deleteProject(project.id, project.name)">Delete</button></a>
              </td>
          </tr> 
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="8" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="panel panel-default" ng-show="showNewProject">
    <div class="panel-heading">
      New project
    </div>
    <div class="panel-body b-b b-light">
      <form name="formNewProject" class="form-horizontal" ng-submit="formNewProjectSubmit()" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : formProject.errors.name }">
          <label class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control w-xxl" ng-model="formProject.name" name="name" required>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <!-- <wysiwyg ng-model="formProject.description"></wysiwyg>             -->
            <textarea class="form-control" rows="5" ng-model="formProject.description"></textarea>
          </div>
          <br />
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Project Leader</label>
          <div class="col-sm-4">
            <i ng-show="loadingResearchers" class="fa fa-spinner fa-spin form-control-spin"></i>
            <input type="text" class="form-control w-xxl" ng-model="formProject.owner" placeholder="Researchers found in the system" uib-typeahead="researcher as researcher.name for researcher in getResearchers($viewValue)" uib-typeahead-loading="loadingResearchers">
          </div>
          <!--
          <div class="col-sm-3">
            <button type="submit" class="btn btn-sm btn-info" ng-click="newProject = true">+ New Researcher</button>
          </div>
          -->
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Public</label>
          <input type="hidden" ng-model="formProject.public">
          <div class="col-sm-10">
            <label class="i-switch m-t-xs m-r">
              <input type="checkbox" ng-click="formProject.restricted = !formProject.restricted">
              <i></i>              
            </label>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-sm btn-success">Save Project</button>
            <span ng-show="msgs.saving_project.show" class="text-{{msgs.saving_project.type}}">
              <i ng-show="msgs.saving_project.loading" class="fa fa-spinner fa-spin"></i> {{msgs.saving_project.text}}
            </span>
          </div>
        </div>
      </form>
    </div>    
</div>