<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Line Transect</h1>
</div>
<div class="wrapper-md" ng-controller="StatsLineCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      Filters
    </div>
    <div class="panel-body">
      <div class="form-group col-sm-12">
        <div class="form-group col-sm-2">
          <label>Projects</label>
          <select ng-model="filters.project" class="form-control m-b" ng-options="obj.project_id as obj.project_name for obj in projects">
            <option value="">All</option>
          </select>
        </div>
        <div class="form-group col-sm-2">
          <label>Surveys</label>
          <select ng-model="filters.survey" class="form-control m-b" ng-options="obj.survey_id as obj.survey_name for obj in surveys">>
            <option value="">All</option>
          </select>
        </div>
        <div class="form-group col-sm-2">
          <label>Year</label>
          <select ng-model="filters.year" class="form-control m-b" ng-options="obj.year as obj.year for obj in years">>
            <option value="">All</option>
          </select>
        </div>
        <div class="form-group col-sm-2">
          <label>Country</label>
          <select ng-model="filters.country" class="form-control m-b" ng-options="obj.country_id as obj.country for obj in countries">>
            <option value="">All</option>
          </select>
        </div>
        <div class="form-group col-sm-2">
          <label>Site</label>
          <select ng-model="filters.site" class="form-control m-b" ng-options="obj.site_id as obj.site_name for obj in sites">>
            <option value="">All</option>
          </select>
        </div>
        <div class="form-group col-sm-2">
          <label>&nbsp;</label>
          <button class="btn btn-success form-control m-b" type="button" ng-click="filter('json','transect')">Filter!</button>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <div class="form-group col-sm-6">
          <button class="btn btn-info form-control m-b" ng-show="collectedData" type="button" ng-click="filter('csv','')">Export .csv file with all points intercept data</button>
        </div>
        <div class="form-group col-sm-6">
          <button class="btn btn-info form-control m-b" ng-show="collectedData" type="button" ng-click="filter('csv','transect')">Export .csv file with counts summarised per transect</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Graphs
    </div>
    <div>
    <div class="panel-body">
      <plotly data="graph_data" layout="graph_layout" options="plot_options"></plotly>
    </div>
  </div>
</div>