<div class="row" ng-controller="TransectCtrl">
  <div class="col-sm-12">
    <div class="blog-post">        
      <!-- Begin Surveys Panel-->
      <div class="panel">
        <div class="wrapper-lg">
          <h2 class="m-t-none"><a href>{{transect.site.name ? transect.site.name : 'Site name' }}</a></h2>
          <div>
            <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options' control='control'>
              <ui-gmap-marker coords="item.coords" idkey="item.id" options="item.options" ng-repeat="item in markers"></ui-gmap-marker>
            </ui-gmap-google-map>
          </div>
          <div>
            <div class="form-group pull-in clearfix">
              <div class="col-sm-6">
                <label>Site name</label>
                <i ng-show="loadingSite" class="fa fa-spinner fa-spin form-control-spin"></i>
                <input type="text" class="form-control" ng-model="transect.site" placeholder="Site name" uib-typeahead="site as (site.name + ' (' + site.lat + ', ' + site.long + ')') for site in getSites($viewValue)" uib-typeahead-loading="loadingSite" ng-click="updateMap()">
              </div>
              <div class="col-sm-6">
                <label>Location</label>
                <div>{{transect.site.town_name}}{{transect.site.province_name ? (', '+transect.site.province_name) : ''}}{{transect.site.country_name ? (', '+transect.site.country_name) : ''}}</div>
              </div>
            </div>
            <div class="form-group pull-in clearfix">
              <div class="col-sm-12">
                <uib-tabset class="tab-container">
                  <uib-tab heading="{{tab.heading}}" ng-repeat="tab in tabs">
                    <div ng-include="tab.template"></div>
                  </uib-tab>
                </uib-tabset>
              </div>
            </div>
            <div class="line line-lg b-b b-light"></div>
            <div class="text-muted text-right">
              <button type="submit" class="btn btn-sm btn-info" ng-click="save()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>