<div ng-controller="ProjectEditCtrl" ui-view class="row">
  <div class="col-sm-12">
    <div class="blog-post">                   
      <div class="panel">
        <div>
          <!--<ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'></ui-gmap-google-map>-->
        </div>
        <div class="wrapper-lg">
          <h2 class="m-t-none"><a href>{{project.name}}</a> Settings</h2>
          <form name="formEditProject" class="form-horizontal" ng-submit="saveProject()" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : formEditProject.errors.name }">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control w-xxl" ng-model="project.name" name="name" required>
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <!-- <wysiwyg ng-model="description"></wysiwyg>             -->
                <textarea class="form-control" rows="5" ng-model="project.description"></textarea>
              </div>
              <br />
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Owner / Leader</label>              
              <div class="col-sm-5">
                <i ng-show="loadingResearchers" class="fa fa-spinner fa-spin form-control-spin"></i>
                <input type="text" class="form-control w-xxl" ng-model="formEditProject.owner" placeholder="Researchers found in the system" uib-typeahead="researcher as researcher.name for researcher in getResearchers($viewValue)" uib-typeahead-loading="loadingResearchers">
              </div>
              <label class="col-sm-4 control-label">
                <span ng-if="project.owner"><b>Actual leader</b>: {{project.owner_name || project.owner.name}}</span>
                <span ng-if="!project.owner">No leader selected</span>
              </label>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Public</label>
              <!-- <input type="hidden" ng-model="project.public"> -->
              <div class="col-sm-10">
                <label class="i-switch m-t-xs m-r">
                  <input type="checkbox" ng-click="project.public = !project.public">
                  <i></i>              
                </label>
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-2">
                <button class="btn btn-sm btn-success">Save Project</button>
                <i ng-show="loadingProject" class="fa fa-spinner fa-spin form-control-spin text-left"></i>
              </div>
            </div>
          </form>
          <div class="line line-lg b-b b-light"></div>
          <div class="text-muted">
            <span ng-show="project.owner_name"><i class="fa fa-group text-muted"></i> project leader <a href class="m-r-sm">{{project.owner_name | ucFirst }}</a></span>
            <i class="fa fa-user text-muted"></i> created by <a href class="m-r-sm">{{project.created_by | ucFirst }}</a>
            <i class="fa fa-clock-o text-muted"></i> {{project.created_at | date:'medium'}}
          </div>
        </div>
      </div>

      <!-- Begin Surveys Panel-->
      <div class="panel">
        <div class="wrapper-lg">
          <h2 class="m-t-none"><a href>{{project.name}}</a> Configs</h2>
          <div>
            
          </div>
          <div class="line line-lg b-b b-light"></div>
        </div>
      </div> 
</div>