<div class="wrapper-md" ng-controller="SurveyCtrl" ui-view>
  <div class="row">
    <div class="col-sm-12">
      <div class="blog-post">                   
        <div class="panel">
          <div class="row">
            <div class="col-sm-4">
              <ui-gmap-google-map center='mapSurvey.center' zoom='mapSurvey.zoom' options='mapSurvey.options' control='mapSurveyControl'>
                <ui-gmap-marker coords="item.coords" idkey="item.id" options="item.options" events="item.events" ng-repeat="item in markersSurvey"></ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
            <div class="wrapper-lg col-sm-8">
              <h2 class="m-t-none"><a href>{{survey.name}}</a></h2>
              <div>
                <p ng-bind-html="survey.description"></p>
              </div>
              <div class="line line-lg b-b b-light"></div>
              <div class="text-muted">
                <span ng-show="project.owner_name"><i class="fa fa-group text-muted"></i> survey leader <a href class="m-r-sm">{{survey.owner_name | ucFirst }}</a></span>
                <i class="fa fa-user text-muted"></i> created by <a href class="m-r-sm">{{survey.created_by}}</a>
                <i class="fa fa-clock-o text-muted"></i> {{survey.created_at | date:'medium'}}
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="wrapper-lg">
            <div class="panel-heading">
              <h2 class="m-t-none"><a href>Transects</a></h2>
              <!-- <h2>List of surveys</h2> -->
            </div>
            <div class="panel-body b-b b-light ">
              <div class="text-muted text-left">
                Search: <input id="filter_surveys" type="text" class="form-control input-sm w-sm inline m-r"/>
              </div>
              <div class="text-muted text-right">
                <button type="submit" ng-show="can('add_transect')" class="btn btn-sm btn-success" ng-click="goToTransect('')">+ New Transect</button>
              </div>
              <div ng-if="alerts.length > 0" class="m-b-md">
                <br />
                <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><i ng-if="alert.type == 'danger'" class="fa fa-spinner fa-spin"></i> {{alert.msg}}</uib-alert>
              </div>
            </div>
            <div>
              <table class="table m-b-none" ui-jq="footable" data-filter="#filter_surveys" data-page-size="15">
                <thead>
                  <tr>
                    <th>Identifier</th>
                    <th class="text-center">Site</th>
                    <th class="text-center">Depth (m)</th>
                    <th class="text-center">Date</th>
                    <!-- <th class="text-center">Time Start</th> -->
                    <!-- <th class="text-center">Leader</th> -->
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-if="transects.length == 0">
                      <td class="text-center" colspan="7">No transects found for this project.</td>
                  </tr>        
                  <tr ng-repeat="transect in transects">
                      <td><a>{{transect.name}}</a></td>
                      <td class="text-center">{{transect.site_name}} ({{transect.town_name}})</td>
                      <td class="text-center">{{transect.depth | number : 2 }}</td>
                      <td class="text-center">{{transect.date | date:'shortDate'}}</td>
                      <!-- <td class="text-center">{{transect.time_start}}</td> -->
                      <!-- <td class="text-center">{{transect.team_leader_name ? transect.team_leader_name : '-'}}</td> -->
                      <td class="text-center">
                        <a ng-show="can('view_transect')" ui-sref="admin.projects.view.survey.transect({transectId:transect.id})"><button class="btn btn-info btn-xs text-info">View</button></a>
                        <a ng-show="can('delete_transect')"> <button class="btn btn-danger btn-xs" ng-click="deleteTransect(transect.id, transect.name)">Delete</button></a>
                    </td>
                  </tr>       
                </tbody>
                <tfoot class="hide-if-no-paging">
                  <tr>
                    <td colspan="8" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="8" class="text-center">
                        Transects total: {{transects.length}}
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="line line-lg b-b b-light"></div>
          </div>
        </div>
        <!-- <div class="panel">
          <div class="wrapper-lg">
            <h2 class="m-t-none"><a href>Stats summary</a></h2>
            <div>
              
            </div>
            <div class="line line-lg b-b b-light"></div>
          </div>
        </div> -->
      </div>
    </div>
    <!-- <div class="col-sm-3">
      <h5 class="font-bold">Info</h5>
      <ul class="list-group">
        <li class="list-group-item">
          <a href>
            <span class="badge pull-right">{{survey.transects_count ? survey.transects_count : 0}}</span>
            Transects
          </a>
        </li>
        <li class="list-group-item">
          <a href>
            <span class="badge pull-right">{{survey.members_count ? survey.members_count : 0}}</span>
            Members
          </a>
        </li>        
      </ul>
      <h5 class="font-bold">Members</h5>
      <div>
        <div class="media">
          <a class="pull-left thumb thumb-wrapper m-t-xs">
            <img src="img/b0.jpg">
          </a>
          <div class="media-body">                        
            <a href class="font-semibold">Davi Candido</a>
            <div class="text-xs block m-t-xs"><a href>Admin</a></div>
          </div>
        </div>
        <div class="line"></div>        
      </div>
    </div> -->
  </div>
</div>